<html>
  <body>
    <head>
      <meta charset="utf-8">
      <title>Error</title>
      <style>
        h1 {
          padding: 10px;
          font: normal 18pt "DejaVu Sans";
          color: #fdd; background-color: #b44;
          box-shadow: 6px 6px 10px 0px #ccc;
        }
      </style>
    </head>
  <body>
    <h1>Error: {{statusCode}} {{error}}</h1>
  </body>
</html>
