<!DOCTYPE html>
<html>
  <meta charset="utf-8">
  <title>I'm hapi!</title>
  <style>
    * {
      font-family: 'DejaVu Sans';
      font-weight: 100; color: #333;
    }
    h1 {
      margin: 40px; padding: 50px;
      text-align: center; background-color: #FA4;
      box-shadow: 10px 10px 25px 0px #888;
    }
  </style>
  <head>
    <body>
      {{{content}}}
    </body>
  </head>
</html>